body{
font-family: Ubuntu Mono, Open Sans;
color: #FFFFFF;
background-color: #966bf5;
}
h1 {font-size: 45px}    
p {font-size: 24px}
div.body{
  width: 50%;
  background-color: #5a8be6;
  margin: 0.7em 0;
  padding: 1em;
  border: 1em;
border-style: solid;
    border-color: #3c6991;}
li {
text-align: left;


}
